@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */
  /* start of for small mobile  (576px and down) */
  /* start of for mobile  (576px and up) */

  /* start of for mobile */

  --font-size-h1: 2.488rem;

  --font-size-h2: 2.074rem;

  --font-size-h3: 1.728rem;

  --font-size-h4: 1.44rem;

  --font-size-h5: 1.2rem;

  /* major third 1.200 */
  /* end of for mobile */

  --font-size-h6: 1rem;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
  /* colors */
  --primary-color: #b8860b;
  --secondary-color: #61baad;
  --heading-color: #4b8178;
  --background-color: #c3fcf2;
  --btn-color: #60bf26;

  --btn-gradient: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 100%;
  /* font size :16px */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-h5);
}

/* navbar */
.header {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-1);
}

.logo {
  font-size: var(--font-size-h4);
  color: var(--heading-color);
  text-shadow: 2px 2px 3px #fff;
  letter-spacing: 1px;
}

.menu {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--box-shadow-1);
}

.menu div {
  width: 36px;
  height: 44px;
  position: relative;
}

.menu div span {
  display: inline-block;
  background-color: var(--background-color);
  height: 6px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  transition: var(--transition-8);
}

/* .menu div .bar--2 {
  transform: translate(-50%, -40px);
} */
.menu div .bar--3 {
  transform: translate(-50%, -14px);
  transition: var(--transition-8);
}
.menu div .bar--1 {
  transform: translate(-50%, 8px);
  transition: var(--transition-8);
}

.show div .bar--2 {
  opacity: 0;
  transition: var(--transition-8);
}
.show div .bar--1 {
  opacity: 1;
  transform: translate(-41%, -3px) rotate(139deg);
  transition: var(--transition-8);
}
.show div .bar--3 {
  opacity: 1;
  transform: translate(-43%, -1px) rotate(50deg);
  transition: var(--transition-8);
}

.small__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav__links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition-8);
  transform: translateX(-100%);
}
.nav__links--show {
  transform: translateX(0%);
  opacity: 1;
  height: 16rem;
  transition: var(--transition-8);
}

.nav__links li a {
  display: block;
  padding: 0.8rem;
  font-size: var(--font-size-h5);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: var(--transition-8);
}
.nav__links:last-child {
  padding-bottom: 0.5rem;
}
.nav__links li a:hover {
  padding-left: 50px;
  background-color: white;
  color: var(--primary-color);
}

.main__heading {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
  grid-auto-rows: 40vh;
  margin-bottom: 2rem;
}

.image__heading {
  height: 40vh;
}

.background-color {
  display: none;
}

.main__text {
  position: absolute;
  background-color: white;
  padding: 0.6rem 1rem;
  box-shadow: 0px 2px 1px #fff;
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.text__heading {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgba(80, 78, 78, 0.7);
  margin-bottom: 0.5rem;
}

.text__paragraph {
  text-transform: capitalize;
  font-size: var(--font-size-h6);
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1rem;
  width: 95vw;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 1rem;
}
.card {
  box-shadow: var(--box-shadow-1);
  padding: 0.4rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 4px 6px 4px #000;
  filter: drop-shadow(1px rgb(0, 0, 0));
  transform: translateY(-1%);
}

.card__image {
  height: 10rem;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card__content {
  padding: 0.2rem;
}

.card__content__heading {
  color: black;
  opacity: 0.5;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card__content__paragraph {
  font-size: var(--font-size-h6);
  text-transform: capitalize;
  letter-spacing: 1px;
  word-break: break-all;
  margin-bottom: 1rem;
}

.card__content__readmore {
  font-size: var(--font-size-h6);
  font-weight: bold;
  color: var(--btn-color);
  text-decoration: underline;
  text-decoration-color: #000;
}

.buttons__container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.buttons__container .button {
  background-color: var(--background-color);
  color: black;
  padding: 0.4rem;
  font-size: var(--font-size-h5);
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px#fff;
  cursor: pointer;
  border: none;
  transition: var(--transition-8);
}
.buttons__container .button:hover {
  background-color: #000;
  color: white;
}
.button.active {
  background-color: var(--primary-color);
  color: white;
}
.cards__comment {
  display: grid;
  gap: 1rem;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.card__comment {
  padding: 0.4rem;
  padding-bottom: 1rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 1rem;
  align-items: center;
  box-shadow: 0px 2px 2px #000;
}

.most__commented__post {
  font-size: var(--font-size-h4);
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.card__comment__image {
  height: 9rem;
  max-width: 100%;
}

.card__comment .card__content__paragraph {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.footer {
  background-color: rgba(0, 0, 0, 1);
}

.footer__heading {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  color: var(--primary-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.footer__card__heading {
  font-size: var(--font-size-h4);
  padding-bottom: 1rem;
}

.footer__paragraph {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: var(--font-size-h6);
  color: white;
}

.footer__card a {
  display: block;
  margin-bottom: 1rem;
  font-size: var(--font-size-h6);
  color: var(--secondary-color);
  transition: var(--transition-8);
}

.footer__card a:hover {
  color: var(--primary-color);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  height: 0.2rem;
  background-color: white;
}

.footer__navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.footer__nav__links li a {
  font-size: var(--font-size-h5);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: block;
  padding-bottom: 0.5rem;
  color: var(--background-color);
}
.footer__nav__links li a:hover {
  color: var(--primary-color);
}

.social__links li a i {
  color: var(--background-color);
  font-size: var(--font-size-h4);
  display: block;
  margin-bottom: 0.5rem;
  transition: var(--transition-8);
}

.social__links li a i:hover {
  color: var(--primary-color);
}

.copyright {
  padding-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: var(--font-size-h6);
}
